# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\uni\5\AI\projects\AUT_Fundamentals-of-Computational-Intelligence\project1\ANN_Project_Assets\pycharm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
